
$button-text-color: $dark;
$button-background-color: $white;
$button-border-width: 0px;
$button-padding-horizontal: .5em;
.button {
    font-family: $family-primary !important;
}


@import "./bulma/sass/elements/button.sass";