
$button-text-color: $dark;
$button-background-color: transparent;
$button-border-width: 0px;
$button-padding-horizontal: .5em;
.button {
    font-weight: 400;
}


@import "./bulma/sass/elements/button.sass";