@import "./bulma/sass/elements/content.sass";

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  max-width: 75ch;
}

.u-mw-ipad {
    max-width: $lg-screen-size
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

.post {
    width: 100%;
    padding: 1rem;
    .subtitle {
        margin-bottom: 1rem;
    }
}

.post-main {
    padding-bottom: 6rem;
}

.post-lite {
    .subtitle {
        margin-bottom: 0;
    }
}

.post-link{
    a {
        color: $black;
    }
    a:hover {
        color: $black;
    }
}

.post-date {
    font-family: $title-family;
    font-size: 1rem !important;
    color: $green;
}

.content {
    line-height: 1.75;
}

code {
    color: $dark !important;
    background-color: $off-white !important;
}
