@import "./bulma/sass/elements/content.sass";

.post {
    width: 100%;
    border-bottom: solid 1px $dark;
    padding: 1rem;
    .subtitle {
        margin-bottom: 1rem;
    }
}

.post-lite {
    background-color: $off-white;
    .subtitle {
        margin-bottom: 0;
    }
}

.post-link{
    a {
        color: $black;
    }
    a:hover {
        color: $black;
    }
}

.post-date {
    font-family: $family-primary !important;
    font-size: 1rem !important;
    color: $green;
}

#sharebtn {
    color: $cyan;
    padding-left: 0.25rem;
  }
  
  #sharebtn:hover {
    cursor: pointer;
  }
  
  #sharebtn:active {
    color: $light;
  }