@import "./bulma/sass/layout/footer.sass";

.foot-flex {
    display: flex;
    justify-content: left;
}

.footer {
    background-color: transparent;
    font-size: 16px;
    border-bottom: solid 1px $dark;
    .post-lite {
        border-bottom: 2px transparent solid;
    }
    .title {
        text-decoration: none;
    }
}

.foot-nav {
    padding-right: .5rem;
    border-right: $dark solid 1px;
    text-align: end;
    a {
        color: $dark
    }
}

.foot-social {
    padding-left: .5rem;
    i {
        padding-right: .25rem;
    }
    a {
        color: $dark;
    }
    a:hover {
        color: $link;
    }
}
