@import "./vars.scss";
@import "./bulma/sass/layout/footer.sass";

.foot-flex {
    display: flex;
    justify-content: left;
}

.footer {
    background-color: $white;
    font-size: 16px;
    .post {
        border-bottom: none;
    }
    .title {
        text-decoration: none;
    }
}

.foot-nav {
    padding-right: .5rem;
    border-right: $dark solid 1px;
    text-align: end;
}

.foot-social {
    padding-left: .5rem;
    i {
        padding-right: .25rem;
    }
}
