$navseperatorheight: 22px;

@mixin square($size) {
    width: $size;
    height: $size;
}

.stktop {
    border-top: solid 1px $dark;
    width: 100%;
}

.stkbrand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    background-color: $green;
    padding-left: 10px;
    padding-top: 5px;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
    //color: darken($green, 45%);
}

.brandtext {
    padding-right: 8px;
    line-height: 1;
    font-family: $logo-font;
    font-weight: 600;
    color: $off-white;
    font-size: 1.8rem;
    padding-left: .5rem;
}

#brandimage {
    @include square(calc(calc(32px * 3) - calc(calc(32px * 3) * 0.2)))
}

.social-links {
    width: 100%;
    list-style: none;
    flex: 7;
    text-align: center;
    font-size: 24px;
}

.social-links li {
    display: inline;
    padding-right: 1rem;
    line-height: 0;
}

.social-links a {
    color: $dark;
}

#followmeBtn a {
    color: $cyan;
}

.stknav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 16px;
    height: 24px;
    border-top: solid 1px $dark;
    a {
        color: $dark;
    }
}

#navlinks {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.stknav i {
    padding-left: 5px;
}

.round-top {
    border-top: solid 1px $dark;
    margin-bottom: -2px;
    height:6px;
    background-color: darken($white, 2%);
}
