@import "./vars.scss";
@import "./tags.scss";

.post-end {
    .post {
        border: none;
        padding-bottom: .5rem;
        .subtitle {
            margin-bottom: 0px;
        }
    }
}

.share-container {
    .button {
        width: 100%;
        border: solid 1px $dark;
    }
    .post {
        padding-left: 0px;
        padding-right: 0px;
    }
}
@import "./bulma/sass/helpers/visibility.sass";
