@import "./vars.scss";
.index-posts {
    padding-left: .5rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
    a {
        font-family: $family-primary;
        font-size: 1rem;
        font-weight: 400;
    }
}

.index-container {
    .block {
        .title {
            text-decoration: none;
        }
    }
}
