@import "./vars.scss";
@import "./tags.scss";

.post-end {
    .post {
        border: none;
        padding-bottom: .5rem;
        background-color: $off-white;
        .subtitle {
            margin-bottom: 0px;
        }
    }
    border-bottom: 1px solid $dark;
}

.share-container {
    .button {
        width: 100%;
        color: $off-white;
    }
    .post {
        padding-left: 0px;
        padding-right: 0px;
    }
}