
.featured {
    background-color: $white;
    border-radius: .5rem;
}

.featured .content {
    @include text-truncate();
}

.post {
    width: 100%;
    border: $dark solid;
    border-width: 1px;
    border-radius: .5rem;
    padding: 1rem;
    .subtitle {
        margin-bottom: 1rem;
    }
    .title {
        text-decoration: underline;
    }
}

.post-lite {
    border-top: 1px transparent solid;
    border-left: 1px transparent solid;
    border-right: 1px transparent solid;
    .subtitle {
        margin-bottom: 0;
    }
    .post-date {
        color: $white;
    }
}

.post-link a {
    color: $black;
}

.post-date {
    font-family: $family-primary !important;
    font-size: 1rem !important;
    color: $green;
}

.post-main {
    background-color: $white;
}

.stkcontainer .post-main {
    flex: 1 1 auto;
}

#subscribeform {
    padding-top: 1rem;
}

#sharebtn {
    color: $cyan;
    padding-left: 0.25rem;
  }
  
  #sharebtn:hover {
    cursor: pointer;
  }
  
  #sharebtn:active {
    color: $light;
  }