
.featured {
    background-color: $white;
}

// .featured .content {
//     @include text-truncate();
// }

.post {
    width: 100%;
    border-bottom: solid 1px $dark;
    padding: 1rem;
    .subtitle {
        margin-bottom: 1rem;
    }
}

.post-lite {
    .subtitle {
        margin-bottom: 0;
    }
}

.post-link a {
    color: $black;
}

.post-date {
    font-family: $family-primary !important;
    font-size: 1rem !important;
    color: $green;
}

.post-main {
    background-color: $white;
}

.stkcontainer .post-main {
    flex: 1 1 auto;
}

#subscribeform {
    padding-top: 1rem;
}

#sharebtn {
    color: $cyan;
    padding-left: 0.25rem;
  }
  
  #sharebtn:hover {
    cursor: pointer;
  }
  
  #sharebtn:active {
    color: $light;
  }