@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Kalam:wght@300&family=Over+the+Rainbow&display=swap');


$green: #00870c;
$green-light: #9ed2ae;
$green-dark: darken($green, 20%);
$cyan: #2ad4ff;
$primary: $cyan;
$info: $green;

$family-sans-serif: 'Assistant', sans-serif;
$title-family: 'Source Sans Pro', sans-serif;
$handwritten-family: 'Kalam', sans-serif;
$subtitle-family: $family-sans-serif;
$family-primary: $family-sans-serif;
$button-family: $family-primary;
$logo-font: $handwritten-family;
$off-white: darken(#fafafa, 2%);


$body-size: 18px;
$title-size:1.5rem;
$title-weight: 400;
$subtitle-weight: 300;

@import "./bulma/sass/utilities/_all.sass";

$link: $dark;
$link-visited: $green-dark;
$link-hover: $green;

@import "./bulma/sass/base/_all.sass";
