<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}" data-theme="{{- .Site.Params.displayMode -}}">
{{- partial "head.html" . -}}
<body>
<div class="container is-max-desktop main">
    {{- partial "nav.html" . -}}
    {{- partial "subscribe.html" . -}}
    <div class="stkcontainer">
        <div class="round-top-long"></div>
        <div class="stknav">
            <div id="navlinks">
                <div>
                    <a href="/">home</a>
                </div>
                <div>/</div>
                <div>
                    <a href="/about">about</a>
                </div>
                <div>/</div>
                <div>
                    <a href="/post/">index</a>
                </div>
                <div>/</div>
                <div>
                    <a href="/tags/">tags</a>
                </div>
            </div>
            <div id="navSubscribeBtn">
                <a class="has-text-primary">subscribe<i class="fas fa-inbox" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="round-tops">
            <div></div>
            <div></div>
            <div></div>
        </div>
        
        {{- partial "messages.html" . -}}
        {{- block "main" . }}{{- end }}
    </div>
    {{- partial "footer.html" . -}}
</div>
{{- partial "scripts.html" . -}}
</body>
</html>
