{{ define "main" }}
<div class="post post-main">
    {{ $scss := resources.Get "tagcloud.css" }}
    {{ $style := $scss | resources.Minify }}
    <style type="text/css">
      {{ $style.Content | safeCSS }}
    </style>
    {{ if eq .Type "tag-cloud" }}
    <h1 class="title is-4">Tags</h1>
    <div class="tagscontainer">
        {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.RelPermalink }}" class="tag">{{ .Page.Title }}</a>
        {{ end }}
    </div>
    {{ else }}
    {{ $scss := resources.Get "postindex.css" }}
    {{ $style := $scss | resources.Minify }}
    <style type="text/css">
      {{ $style.Content | safeCSS }}
    </style>
    <div class="index-container">
        <h1 class="title is-4">{{ if eq .Type "tags" }}#{{ end }}{{ .Title }}</h1>
        <ul>
            {{ range .Data.Pages.GroupByDate "2006" }}
            <div class="block">
                <h2 class="title is-5">{{ .Key }}</h2>
                <ul class="index-posts">
                {{ range .Pages }}                    
                        <li><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
                {{ end }}
                </ul>
            </div>
            {{ end}}
        </ul>
    </div>
    {{ end }}
</div>
{{ end }}
