{{ define "main" }}
<div class="post post-main">
    <div class="index-container">
        <ul>
            {{ range .Data.Pages.GroupByDate "2006" }}
            <div class="block">
                <div class="title is-4">{{ .Key }}</div>
                <ul class="index-posts">
                {{ range .Pages }}                    
                        <li><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
                {{ end }}
                </ul>
            </div>
            {{ end}}
        </ul>
    </div>
</div>
{{ end }}
