{{ define "main" }}
<div class="post post-main">
    {{ if eq .Type "tags" }}
    <h1 class="title is-4">Tags</h1>
    <div class="tagscontainer">
        {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink }}" class="tag is-dark">{{ .Page.Title }}</a>
        {{ end }}
    </div>
    {{ else }}
    <div class="index-container">
        <ul>
            {{ range .Data.Pages.GroupByDate "2006" }}
            <div class="block">
                <div class="title is-4">{{ .Key }}</div>
                <ul class="index-posts">
                {{ range .Pages }}                    
                        <li><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
                {{ end }}
                </ul>
            </div>
            {{ end}}
        </ul>
    </div>
    {{ end }}
</div>
{{ end }}
