{{ define "main" }}
<div class="post post-main">
    <h1 class="title">{{ .Title }}</h1>
    {{ if eq .Type "post"}}
        <p class="subtitle">{{ .Summary }}<br>
            <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }} &#8226; {{ .ReadingTime }} minute read</span>
        </p>
    {{ end }}
    <div class="content">{{ .Content }}</div>
</div>
    {{ if eq .Type "post"}}
    <!-- CSS -->
    {{ $scss := resources.Get "scss/postend.scss" }}
    {{ $options := (dict "includePaths" (slice "node_modules")) }}
    {{ $style := $scss | resources.ToCSS $options | resources.Minify }}
    <style type="text/css">
        {{ $style.Content | safeCSS }}
    </style>
    <div class="post-end">
        <div id="sharecontainer" class="post share-container">
            <h2 class="is-size-6">if you enjoyed this post:</h2>
            <div class="post">
            <div id="sharebtn" class="button is-info is-inverted">share</div>
            </div>
        </div>
        {{ if .PrevInSection }}
            <div class="post">
                <h2 class="is-size-6">read next:</h2>
                <div class="post post-link post-white">
                    <a href="{{ .PrevInSection.RelPermalink }}">
                        <h3 class="title is-5">{{ .PrevInSection.Title }}</h3>
                        <p class="subtitle is-6"><p class="subtitle is-6">{{ .PrevInSection.Summary }}<br><span class="post-date">{{ .PrevInSection.Date.Format "Mon, Jan 2, 2006" }} &#8226; {{ .ReadingTime }} minute read</span></p>
                    </a>
                </div>
            </div>
        {{ end }}
        <div class="post">
            <h2 class="is-size-6">read more posts tagged:</h2>
            <div class="post tagscontainer">
                {{ range .Page.Params.Tags }}
                    <a class="tag" href="{{ ( printf "/tags/%s/" . ) }}">{{ . }}</a>
                {{ end }}
            </div>
        </div>
    </div>
    
{{ end }}
{{ end }}
