{{ define "main" }}
<!-- CSS -->
{{ $scss := resources.Get "scss/subscribe.scss" }}
{{ $options := (dict "includePaths" (slice "node_modules")) }}
{{ $style := $scss | resources.ToCSS $options | resources.Minify }}
<style type="text/css">
     {{ $style.Content | safeCSS }}
</style>
<div class="post post-main has-text-center">
    <h1 class="title is-4">{{ .Title }}</h1>
    <p class="subtitle is-5">{{ .Summary }}</p>
    <div class="content">{{ .Content }}</div>
    <div id="subscribeformwrapper">
        <form id="subscribeform">
            <div class="field has-addons">
                <p id="subscribeEmailControl" class="control is-expanded">
                    <input id="subscribeEmailInput" class="input is-dark" type="email" placeholder="Email">
                </p>
                <div class="control">
                    <button class="button is-dark" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div id="msgSubSuccess" class="message subscriptionmessage is-info is-hidden">
        <div class="message-header">
            <p>subscription submitted</p>
        </div>
        <div class="message-body">
            <p>please click the link in the confirmation email we sent to complete the subscription process</p>
        </div>
    </div>
    <div id="msgSubError" class="message subscriptionmessage is-danger is-hidden">
        <div class="message-header">
            <p>subscription submission error</p>
        </div>
        <div class="message-body">
            <p>Sorry. There was a problem submitting your subscription. Please try again later. My <span
                    style="text-decoration: line-through;">boy toy</span> tech guy will look into it 😉</p>
        </div>
    </div>
</div>
{{ end }}