<!-- CSS -->
{{ $scss := resources.Get "footer.css" }}
{{ $style := $scss | resources.Minify }}
<style type="text/css">
     {{ $style.Content | safeCSS }}
</style>
<footer>
<div data-nosnippet class="footer">
    <div class="foot-flex post">
        <nav role="navigation" aria-label="Main">
            <div class="foot-nav">
                <ul>
                    <li><div class="button"><a href="/">home</a></div></li>
                    <li><div class="button"><a href="/about/">about</a></div></li>
                    <li><div class="button"><a href="/post/">index</a></div></li>
                    <li><div class="button"><a href="/tags/">tags</a></div></li>
                </ul>
            </div>
        </nav>
        <div class="foot-social">
            <h2 class="visually-hidden">Social Links</h2>
            <ul>
                <li><div class="button"><a href="https://twitter.com/smalltownkitten" id="followMeBtn"><i class="fab fa-twitter" aria-hidden="true"></i>follow me</a></div></li>
                <li><div class="button"><a href="/subscribe"><i class="fas fa-inbox" aria-hidden="true"></i>join my mailing list</a></div></li>
                <li><div class="button"><a href="mailto:sarah@smalltownkitten.com"><i class="fas fa-paper-plane" aria-hidden="true"></i>send me an email</a></div></li>
                <li><div class="button"><a href="https://github.com/sarahlehman/smalltownkitten"><i class="fab fa-github" aria-hidden="true"></i>view the code</a></div></li>
            </ul>
        </div>
    </div>
    <div class="stkbrand">
        <div class="logo">
            <img height="80" width="80" src="/sarah.webp">
            <div class="brandtext">
                small town kitten
            </div>
        </div>
    <div>
</div>
</footer>