<div class="footer">
    <div class="foot-flex post post-lite">
        <div class="foot-nav">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about/">about</a></li>
                <li><a href="/post/">index</a></li>
                <li><a href="/tags/">tags</a></li>
            </ul>
        </div>
        <div class="foot-social">
            <ul>
                <li><a id="footerSubscribeLink"><i class="fas fa-paper-plane" aria-hidden="true"></i>subscribe to smalltownkitten</a></li>
                <li><a href="https://twitter.com/smalltownkitten"><i class="fab fa-twitter" aria-hidden="true"></i>drop (slide?) into my DMs</a></li>
                <li><a href="https://github.com/sarahlehman/smalltownkitten"><i class="fab fa-github" aria-hidden="true"></i>view the code</a></li>
                <li><a href="mailto:sarah@smalltownkitten.com"><i class="fas fa-envelope" aria-hidden="true"></i>email me</a></li>
                <li>
                    <div class="brandtext">
                        <h3 class="title">
                            small town kitten
                        </h3>
                    </div>
                </li>
                <li>
                    &copy; Sarah Lehman {{ now.Format "2006"}}
                </li>
            </ul>
        </div>
    </div>
</div>