<!-- CSS -->
{{ $scss := resources.Get "scss/footer.scss" }}
{{ $options := (dict "includePaths" (slice "node_modules")) }}
{{ $style := $scss | resources.ToCSS $options | resources.Minify }}
<style type="text/css">
     {{ $style.Content | safeCSS }}
</style>
<div data-nosnippet class="footer">
    <div class="foot-flex post">
        <div class="foot-nav">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about/">about</a></li>
                <li><a href="/post/">index</a></li>
                <li><a href="/tags/">tags</a></li>
            </ul>
        </div>
        <div class="foot-social">
            <ul>
                <li><a href="https://twitter.com/smalltownkitten" id="followMeBtn"><i class="fab fa-twitter" aria-hidden="true"></i>follow me</a></li>
                <li><a href="/subscribe"><i class="fas fa-inbox" aria-hidden="true"></i>join my mailing list</a></li>
                <li><a href="mailto:sarah@smalltownkitten.com"><i class="fas fa-paper-plane" aria-hidden="true"></i>send me an email</a></li>
                <li><a href="https://github.com/sarahlehman/smalltownkitten"><i class="fab fa-github" aria-hidden="true"></i>view the code</a></li>
                <li>
                    <div>
                        <a href="/">
                            <h3 class="title is-4">
                            small<br>
                            town<br>
                            kitten
                            </h3>
                        </a>
                    </div>
                </li>
                <li>
                    &copy; Sarah Lehman {{ now.Format "2006"}}
                </li>
            </ul>
        </div>
    </div>
</div>