<div class="stktop">
    <!--top start-->
    <div class="stkbrand">
        <div class="logo">
            <div class="brandtext">
                <a href="/"><h3 class="title">
                    small<br>
                    town<br>
                    kitten
                </h3></a>
            </div>
            <div id="brandimage">
                <a href="/">
                <figure class="image is-square">
                    <img src="/sarah.png">
                </figure>
                </a>
            </div>
        </div>
        <div>
            <ul class="social-links">
                <li>
                    <a href="https://www.twitter.com/smalltownkitten" rel="me" aria-label="twitter">
                        <i class="fab fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="mailto:sarah@smalltownkitten.com" rel="me" aria-label="e-mail">
                        <i class="fas fa-envelope" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="no-padding">
                    <a href="https://github.com/sarahlehman/smalltownkitten" rel="me" aria-label="GitHub">
                        <i class="fab fa-github" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="stknav">
        <div id="navlinks">
            <div>
                <a href="/">home</a>
            </div>
            <div>/</div>
            <div>
                <a href="/about">about</a>
            </div>
            <div>/</div>
            <div>
                <a href="/post/">index</a>
            </div>
            <div>/</div>
            <div>
                <a href="/tags/">tags</a>
            </div>
        </div>
        <div id="navSubscribeBtn">
            <a><span class="tag is-rounded is-primary is-light">subscribe</span></a>
        </div>
    </div>
    <hr>
    <hr>
    <hr>
</div>
<!--top end -->