<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" 
integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" 
crossorigin="anonymous" />
{{ $.Scratch.Set "jslibs" slice }}
{{ range $.Site.Params.scripts }}
       {{ $.Scratch.Add "jslibs" (resources.Get . ) }}
{{ end }}
{{ $js := .Scratch.Get "jslibs" | resources.Concat "js/bundle.js" }}
{{ $secureJS := $js | resources.Minify | resources.Fingerprint }}
<script type="text/javascript"
        src="{{ $secureJS.RelPermalink }}"
        integrity="{{ $secureJS.Data.Integrity }}"
        crossorigin="anonymous"></script>
