<div data-nosnippet id="subscribeModal" class="modal">
    <div id="subscribeModalBg" class="modal-background"></div>
    <div class="modal-content">
        <div class="post post-main">
            <h1 class="title is-3">Subscribe!</h1>
            <p class="subtitle is-5">Enter your email address to receive an occasional message</p>
            <p>(For those of you afraid of commitment and/or unsure of exactly what this message will be- unsubscribing
                is always an option. And honestly, same.)</p>
            <form id="subscribeform">
                <div class="field has-addons">
                    <p id="subscribeEmailControl" class="control is-expanded">
                        <input id="subscribeEmailInput" class="input" type="email" placeholder="Email">
                    </p>
                    <div class="control">
                        <button class="button is-link" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <button id="subscribeModalDelete" class="modal-close is-large" aria-label="close"></button>
</div>